.tab{
    width:95%;
    height: 81px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
    border-bottom: 2px solid #4D4D4D;
    background-color: #F2F2F2;

    .tab-lists{
        display: flex;
        justify-content:flex-start;
        align-items: center;
        .tab-list{
            width: 165px;
            height: 40px;
            background-color: #D2D2D2;
            color:#3A3A3A; 
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 3px;
            font: normal normal bold 12px/14px Arial;
            &:hover{
                background-color: #848181;
            }
        }
        .tab-active{
            background-color: #3A3A3A;
            color:#FFFFFF;
        }
     }
}